button {
    width: 120px;
    background-color: #ffdd00;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 10px 25px;
}

button:hover {
    background-color: #d8bb00;
    transition: all 0.3s;
    cursor: pointer;
}