button {
    width: 200px;
    background-color: #66d6ff;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 10px 25px;
}

button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.35s;
}
