html, body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* 패널 닫기 버튼 */
#btn-all-close{
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: #5dd22f;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    float: right;
}

#btn-all-close:hover{
    background-color: #525151;
    color: #fff;
    transition: all 0.07s;
}

/* 아코디언 메뉴 */
.panel-faq-container{
    margin-bottom: -16px;
}

.panel-faq-title{
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.panel-faq-answer{
    /* 방법 1 */
    /* display: none;
    padding: 15px; */

    /* 방법 2 */
    height: 0px;
    overflow: hidden;
    transition: all 0.75s;
}

.active{
    display: block;
    height: 300px;
}
